terraform/sm/realtime_metrics_loop.json
{
  "Comment": "Invoke Real time Queue Metrics Lambda function every 15 seconds",
  "StartAt": "ConfigureCount",
  "States": {
      "ConfigureCount": {
          "Type": "Pass",
          "Result": {
              "index": 0,
              "count": 4
          },
          "ResultPath": "$.iterator",
          "Next": "Iterator"
      },
      "Iterator": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:ap-northeast-1:*:function:serverlessrepo-AmazonConn-sfRealTimeQueueMetricsLo-ESNMBJ8WQG8H",
        "ResultPath": "$.iterator",
        "Next": "IsCountReached"
      },
      "IsCountReached": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.iterator.continue",
            "BooleanEquals": true,
            "Next": "Wait"
          }
        ],
        "Default": "Done"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "Iterator"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}